.textarea-input {
    border: transparent;
    padding: 0;
    /*resize: none;*/
}

.textarea-input::placeholder {
    font-size: 1.75rem;
    color: #8898aa !important;
}

.answer-item:not(:last-child) {
    margin-bottom: 22px;
    padding-bottom: 22px;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.pointer {
    cursor: pointer;
}